<mat-spinner *ngIf="loading"></mat-spinner>
<ng-container *ngIf="posts$ | async as posts">
  <p *ngIf="!loading && posts.length <= 0">
    Pas encore de Post, soyez le premier ! 
  </p>
  <p class="list-title" *ngIf="!loading && posts.length > 0">Les derniers posts :</p>
  <div class="post-list" *ngIf="!loading && posts.length  > 0">
    <div class="post-list-item" *ngFor="let post of posts" (click)="onClickpost(post._id)">
      <img *ngIf="post.imageUrl != null"  alt="Hot post bottle" [src]="post.imageUrl">
      <h4>{{ post.description }}</h4>
      <p>{{ post.name }}</p>
    </div>
  </div>
</ng-container>
