html, body { height: 100%;
  font-family: 'Lato', sans-serif; }
body {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
  white-space: pre-line;
}


mat-spinner {
  margin: auto;
}
